body {
    /* overflow: hidden; */
    background: #E5E5E5;
}

.custom-container {
    /* width: 1280px;
    height: 720px; */
    background: #E5E5E5;
    margin: 20px 0;
}

div.btn-secondary01{
    /* position: absolute;
    width: 184px;
    height: 42px;
    left: 1732px;
    top: 30px; */

    text-align: center;
    /* line-height: 21px; */

    color: #FFFFFF;
    background: #000000;
}

div.btn-secondary02{
    /* position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px; */

    text-align: center;
    /* line-height: 21px; */

    color: #FFFFFF;
    background: #000000;
}

div.content-div{
    /* position: absolute;
    width: 1850px;
    height: 900px;
    left: 36px;
    top: 180px; */

    background: #D9D9D9;
}

/* div.search-container{
    position: absolute;
    width: 1000px;
    height: 80px;
    left: 35px;
    top: 95px;
} */

.search-button{
    /* position: absolute;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    left: 189px;
    top: 24px; */
    font-size: 17px;
    border: 1;
    border-width: thin;
    cursor: pointer;
}

.search-button:hover{
    background-color:#ddd;
    transition: 0.7s;
}

.filter-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.search-clinic-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
}

.search-clinic-form{
    flex-direction: column;
}

.search-clinic-form > .input-group{
    flex-wrap: nowrap!important;
    margin: 20px 0;
}

.sort-by-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    /* margin-top: 20px; */
}

.sort-by-label{
    margin-bottom: 20px!important;
}

.select-div1{
    align-items: center;
}

@media screen and (min-width: 600px) {
    /* For tablets: */

}

@media screen and (min-width: 768px) {
    /* For desktop: */
    .filter-div{
        flex-direction:row;
        justify-content: space-between;
    }
    
    .search-clinic-div{
        flex-direction:row;
        align-items: center;
    }

    .search-clinic-form{
        flex-direction: row;
        justify-content: space-between;
    }

    .search-clinic-form > .input-group{
        margin: 0 40px;
    }

    .sort-by-div{
        flex-direction:row;
        align-items: center;
        /* margin-top: 0; */
    }

    .sort-by-label{
        margin: 0 40px!important;
    }

    .sort-by-select-div{
        margin: 0 20px;
    }

    .custom-container {
        margin: 50px 0;
    }
}