body {
    /* overflow: hidden; */
    background: #E5E5E5;
}

.custom-container {
    /* width: 1280px;
    height: 720px; */
    background: #E5E5E5;
}

div.btn-secondary01{
    /* position: absolute;
    width: 184px;
    height: 42px;
    left: 1732px;
    top: 30px; */

    text-align: center;
    /* line-height: 21px; */

    color: #FFFFFF;
    background: #000000;
}

div.btn-secondary02{
    /* position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px; */

    text-align: center;
    /* line-height: 21px; */

    color: #FFFFFF;
    background: #000000;
}

div.content-div{
    /* position: absolute;
    width: 1850px;
    height: 900px;
    left: 36px;
    top: 180px; */

    background: #D9D9D9;
}

/* div.search-container{
    position: absolute;
    width: 1000px;
    height: 80px;
    left: 35px;
    top: 95px;
} */

.search-button{
    /* position: absolute;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
    left: 189px;
    top: 24px; */
    font-size: 17px;
    border: 1;
    border-width: thin;
    cursor: pointer;
}

.search-button:hover{
    background-color:#ddd;
    transition: 0.7s;
}

.filter-div{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    /* For tablets: */

}

@media screen and (min-width: 768px) {
    /* For desktop: */
    .filter-div{
        display: flex;
        justify-content: space-between;
    }
}