.img-icon-search{
    width: 16px;
}

.referral-box{
    border: 1px solid black!important;
}

td > button{
    background: none;
}

button:hover{
    opacity: 0.6;
    transition: 0.6s;
}

.btn-login-custom{
    border: #FFB847!important;  
    background: #FFB847!important;
}


.login-form-title{
    font-family: agency-fb, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    color: #2C2C2C;
}

.login-form{
    max-width: 300px;
    margin: 0 auto;
}

.Eclipse1{
    box-sizing: border-box;

    position: absolute;
    width: 35vw;
    height: 30vw;
    left: -13vw;
    top: -14vw;
    border-radius: 50%;

    background: #212529;
}

.Eclipse2{
    box-sizing: border-box;

    position: absolute;
    width: 35vw;
    height: 30vw;
    left: 80vw;
    top: 70vh;
    border-radius: 50%;

    background: #212529;
}

.container-top{
    border: 1px solid #DEE2E6;
    border-top: 10px solid #212529!important;
}

.search-div{
    flex-direction: column;
}

.add-spec-btn-div{
    justify-content: flex-start;
}

.search-form-group{
    align-items: flex-start;
    flex-direction: column;
    padding-top: 30px;
}

.ig1{
    margin: 20px 0;
}

.search-div2, .search-input-div{
    display: flex;
    flex-direction: column;
}

#regManBO_ddlFilterBy, #regManPA_ddlFilterBy{
    margin: 20px 0;
}


@media screen and (min-width: 768px) {
    /* For desktop: */
    .search-div{
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .add-spec-btn-div{
        justify-content: flex-end;
    }

    .search-form-group{
        align-items: center;
        flex-direction: row;
    }

    .ig1{
        margin: 0;
    }

    .search-div2, .search-input-div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    
    #regManBO_ddlFilterBy, #regManPA_ddlFilterBy{
        margin: 0;
        margin-left: 70px; 
    }
}