
.title-div-appt{
    display: flex;
    flex-direction: column;
}


.title-div-appt > h4{
   margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
    /* For desktop: */
    .title-div-appt{
        justify-content: space-between;
        flex-direction: row;
    }

    .title-div-appt > h4{
        margin-bottom: 0;
     }
}