.img-icon-search {
    width: 16px;
}

/* .referral-box {
    border: 1px solid black !important;
} */

td > button {
    background: none;
}

button:hover {
    opacity: 0.6;
    transition: 0.6s;
}


.d-box{
    display: none;
}

@media screen and (min-width: 768px) {
    /* For desktop: */
    .d-box{
        display: flex;
        align-items: center;
    }
}