#ui-datepicker-div{
    background-color: #F2F2F2;
    border: 1px solid #343A40;
    padding: 14px 20px;
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

td:hover a{
    color: white;
}

td:hover{
    background-color: #343a40;
}

th, td{
    padding: 10px;
}

td{
    cursor: pointer;
}

a.ui-datepicker-prev, a.ui-datepicker-next{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    cursor: pointer;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.ui-datepicker-next{
    float: right;
}

.ui-datepicker-title{
    margin-top:20px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.ui-datepicker-unselectable{
    cursor:default;
}

td.ui-datepicker-unselectable:hover a{
    color: rgb(166, 166, 166);
}

td.ui-datepicker-unselectable:hover{
    background-color: transparent;
}

.ui-state-disabled .ui-state-default{
    color: rgb(166, 166, 166);
}

.slot-btn {
    opacity: 1;
}
.slot-btn.transparent {
    opacity: 0.5;
}

.search-div, .search-input-div{
    display: flex;
    flex-direction: column;
}


#referralTracking_ddlfilter{
    margin-left: 0; 
}

#searchbar_filter{
    margin: 20px 0;
}

.title-div-appt{
    display: flex;
    flex-direction: column;
}

.title-div-appt > button{
  margin-top: 20px;
}

.filter-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.search-clinic-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
}

.search-clinic-form{
    flex-direction: column;
}

.search-clinic-form > .input-group{
    flex-wrap: nowrap!important;
    margin: 20px 0;
}

.sort-by-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    /* margin-top: 0px; */
}

.sort-by-label{
    margin-bottom: 20px!important;
}

.select-div1{
    align-items: center;
}

.custom-container {
    margin: 20px 0;
}

@media screen and (min-width: 600px) {
    /* For tablets: */

}

@media screen and (min-width: 768px) {
    /* For desktop: */
    .search-div, .search-input-div{
        align-items: center;
        flex-direction: row;
    }

    #referralTracking_ddlfilter{
        margin-left: 70px; 
    }

    #searchbar_filter{
        margin: 0;
    }
    
    .title-div-appt{
        justify-content: space-between;
        flex-direction: row;
    }

    .title-div-appt > button{
        margin-top: 0;
    }

    .filter-div{
        flex-direction:row;
        justify-content: space-between;
    }
    
    .search-clinic-div{
        flex-direction:row;
        align-items: center;
    }

    .search-clinic-form{
        flex-direction: row;
        justify-content: space-between;
    }

    .search-clinic-form > .input-group{
        margin: 0 40px;
    }

    .sort-by-div{
        flex-direction:row;
        align-items: center;
        /* margin-top: 0; */
    }

    .sort-by-label{
        margin: 0 40px!important;
    }

    .sort-by-select-div{
        margin: 0 20px;
    }

    .custom-container {
        margin: 40px 0;
    }

}